<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What'sIn</title>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="https://github.com/douglascrockford/JSON-js/blob/master/json2.js"></script>
    <script src="/statics/js/echarts.js"></script>
    <script src="/statics/js/echarts-wordcloud.js"></script>
    <script src="/statics/js/in.js"></script>
    <link rel="stylesheet"type="text/css"href="/statics/css/trend.css">
</head>

<body>
<div id="wrapper">
    <header>
            <!--<h1>Trend'ar</h1>-->
    <!--<inputtype="search">s-->
    <!--<button>search</button>-->
        <a href="{% url 'home' %}"><img alt="140x260" src="/statics/images/Header.JPG"/></a>
    </header>
    <div id="navigate">
        <ul>
            <li>&gt
                <!--<a>&gtHome</a>-->
                <a href="{% url 'home' %}">Home</a>
            </li>
                <li>&gt
                <a href="{% url 'in' %}">What'sIn</a>
            </li>
        </ul>
    </div>

    <div id="column-1">
        <div class="info-box"id="top-positives">
            <h3>TopPositives</h3>
            <dl></dl>
        </div>
    </div>

    <div id="column-2">
        <div class="info-box"id="top-phrases">
            <h3>TopPhrases</h3>
            <label class="switch">
                <input type="checkbox">
                <div class="slider">
                    <span>TextRank</span>
                    <span>TF-IDF</span>
                </div>
            </label>
            <div id="word-cloud"style="width:400px;height:400px"></div>
        </div>
    </div>

    <div id="column-3">
        <div class="info-box"id="compare">
            <h3>Compare</h3>
            <ul>
                <li>麂皮</li>
                <li>真皮</li>
                <li>人造革</li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
