<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nagetive</title>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="https://github.com/douglascrockford/JSON-js/blob/master/json2.js"></script>
    <script src="/statics/echarts.js"></script>
    <script>

    </script>
</head>
<body>
{#    {%  for n in neg %}#}
{#        <div>{{ n.typeof }} : {{ n.score }} : {{ n.content }}</div>#}
{#    {% endfor %}#}

    <div id="main" style="width: 600px; height:400px;"></div>
    <div id="show"></div>
</body>
</html>